{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
